ion-slide {
  display: block;
  height: 100vh;
  padding-top: 100px;
  }

  ion-slides {
    --bullet-background: var(--ion-color-secondary);
    --bullet-background-active: white;
  }

h2 {
  font-size: 40px;
  font-weight: bold;
}