<ion-content>
  <ion-button (click)="showServiceForm()"> services</ion-button>
  <ion-button (click)="showEventForm()"> events</ion-button>
  <ion-button (click)="showOrtForm()"> locations</ion-button>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-input name="searchvalue" placeholder="search" [(ngModel)]="search"></ion-input>
      <ion-button (click)="searchvalue()">search service</ion-button>
      <div class="inner" *ngFor="let currentService of services">
        <div class="service">
          <h3> {{currentService.title}}</h3>
          <img style="width: 20%"src="{{currentService.image}}"alt="didn't work">
          <p> {{currentService.description}}</p>
          <p> {{currentService.typ}}</p>
          <p> {{currentService.hourlywage}}</p>
          <p> {{currentService.availability}}</p>
          <p> {{currentService.email}}</p>
          <!--mehr stuff hinzufügen   -->

        </div>



      </div>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
