<ion-content fullscreen color="primary" >
  <ion-row justify-content-center align-items-center style="height: 100%">
    <ion-card color="light">
      <ion-card-header>
        <ion-card-title>Your Service.</ion-card-title>
      </ion-card-header>
      <ion-card-content >
        <ion-input type="title" placeholder="Title" name="title" [(ngModel)]="service.title"></ion-input>
        <ion-input type="description" placeholder="Description" name="description" [(ngModel)]="service.description"></ion-input>
        <ion-input type="userid" placeholder="UserId" name="userid" [(ngModel)]="service.userid"></ion-input>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div ><ion-button (click)="onSubmitDisplay()">Submit</ion-button></div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-content>
