<ion-content fullscreen color="primary" >
  <ion-card color="light" class="cardcenter">
    <ion-card-header>
      <ion-card-title>Please log in.</ion-card-title>
    </ion-card-header>
    <ion-card-content >
      <ion-input placeholder="E-Mail" name="name" [(ngModel)]="user.email"></ion-input>
      <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="user.password"></ion-input>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="center"><ion-button (click)="onLoginDisplay()">Login</ion-button></div>
          </ion-col>
          <ion-col>
            <div class="center"><ion-button (click)="onRegisterDisplay()">Register</ion-button></div>
          </ion-col>
        </ion-row>
        </ion-grid>


    </ion-card-content>
  </ion-card>
</ion-content>




