ion-slides {
  --bullet-background: var(--ion-color-secondary);
  --bullet-background-active: white;
  display: block;
  height: 100vh;
}

h2 {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}

ion-slide {
  display: block;
}

ion-img {
  margin: 10% auto;
  height: 100px;
  width: 100px;
}

.center{
  top: 20%;
  margin: auto;
}

ion-button{
  margin-top: 15vh;
}
