<ion-header>
  <ion-toolbar class="center" color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <app-logo class="ion-padding"></app-logo>
    <h1>Sign In</h1>

  <form>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">E-mail address</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="Password"></ion-input>
      </ion-item>
      <ion-button shape="round" color="secondary" (click)="login()">Sign In</ion-button>

      <ion-item class="ion-text-center">
        <ion-label>Don't have an account yet?&nbsp;<a routerLink="/signup">Sign up here.</a></ion-label>
      </ion-item>


    </ion-list>
  </form>
  </div>
</ion-content>
