<ion-content fullscreen color="primary" >
  <ion-row justify-content-center align-items-center style="height: 100%">
    <ion-card color="light">
      <ion-card-header>
        <ion-card-title>Your Event.</ion-card-title>
      </ion-card-header>
      <ion-card-content >
        <ion-input placeholder="Title" name="title" [(ngModel)]="event.title"></ion-input>
        <ion-textarea rows = "6" cols="20" type="description" placeholder="Description" name="description" [(ngModel)]="event.description"></ion-textarea>
        <ion-input type="userID" placeholder="userid" name="userid" [(ngModel)]="event.userid"></ion-input>
        <ion-input type="Wann" placeholder="when?" name="wann" [(ngModel)]="event.wann"></ion-input>
        <ion-input type="Wo" placeholder="where?" name="wo" [(ngModel)]="event.wo"></ion-input>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div ><ion-button (click)="onSubmitDisplay()">Submit</ion-button></div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-content>
