<ion-content>
  <ion-button (click)="showServiceForm()"> services</ion-button>
  <ion-button (click)="showEventForm()"> events</ion-button>
  <ion-button (click)="showOrtForm()"> locations</ion-button>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-input name="searchvalue" placeholder="search" [(ngModel)]="search"></ion-input>
        <ion-button (click)="searchvalue()">search location</ion-button>
        <div class="inner" *ngFor="let currentOrt of orte">
          <div class="service">
            <h3> {{currentOrt.title}}</h3>
            <p> {{currentOrt.address}}</p>
            <img style="width: 20%"src="{{currentOrt.image}}"alt="didn't work">
            <p> {{currentOrt.description}}</p>
            <p> {{currentOrt.area}}</p>
            <p> {{currentOrt.rent}}</p>
            <p> {{currentOrt.availability}}</p>
            <p> {{currentOrt.email}}</p>
            <!--mehr stuff hinzufügen   -->

          </div>



        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
