<ion-header>
  <ion-toolbar class="center" color="primary">
    <ion-title>Sign up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">
    <app-logo></app-logo>
    <h1>Register your account</h1>
  </div>
  <form>
    <ion-list>

      <ion-item>
        Already have an account? &nbsp; <a routerLink="/login"> Log in here.</a>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">E-mail address</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="Password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Confirm your password</ion-label>
        <ion-input type="Password"></ion-input>
      </ion-item>
      <ion-button expand="block" shape="round" color="success" (click)="register()">Register</ion-button>
    </ion-list>
  </form>
</ion-content>
